# Segmenting and Clustering Neighborhoods in Toronto - Part 2
Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

In an older version of this course, we were leveraging the Google Maps Geocoding API to get the latitude and the longitude coordinates of each neighborhood. However, recently Google started charging for their API: http://geoawesomeness.com/developers-up-in-arms-over-google-maps-api-insane-price-hike/, so we will use the Geocoder Python package instead: https://geocoder.readthedocs.io/index.html.

In [9]:
import pandas as pd 
import numpy as np

In [10]:
link = "http://cocl.us/Geospatial_data"
df1 = pd.read_csv(link)

df1.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [11]:
df1.columns = ['Postcode','Latitude','Longitude']

cols = df1.columns.tolist()
cols

['Postcode', 'Latitude', 'Longitude']

In [13]:
link = "toronto.csv" #saved in part 1
df = pd.read_csv(link,index_col=0)
df.head()

  Postcode      Borough                                      Neighbourhood
0      M1B  Scarborough  Rouge ,Malvern ,Rouge ,Malvern ,Rouge ,Malvern...
1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union ,Highla...
2      M1E  Scarborough  Guildwood ,Morningside ,West Hill ,Guildwood ,...
3      M1G  Scarborough                     Woburn ,Woburn ,Woburn ,Woburn
4      M1H  Scarborough         Cedarbrae ,Cedarbrae ,Cedarbrae ,Cedarbrae

In [14]:
df_new = pd.merge(df, df1, on='Postcode')
df_new.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge ,Malvern ,Rouge ,Malvern ,Rouge ,Malvern...",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek ,Rouge Hill ,Port Union ,Highla...",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood ,Morningside ,West Hill ,Guildwood ,...",43.763573,-79.188711
3,M1G,Scarborough,"Woburn ,Woburn ,Woburn ,Woburn",43.770992,-79.216917
4,M1H,Scarborough,"Cedarbrae ,Cedarbrae ,Cedarbrae ,Cedarbrae",43.773136,-79.239476